::-webkit-scrollbar{
  display: none;
}
html{
    width:100%;
    height:100%;
}
body{
	width: 100%;
	height: 100%;
	background-color:#f0faff;
    margin: 0;
    padding: 0;
}
header{
    background:white;
    color:white;
    padding: 50px;
}
section.tp {
	font-family: serif;
    background: DarkSlateGrey;
    text-align: center;
    color: white;
    padding: 50px;
  }

ul.o {  
    text-align: center;
    margin: 0;
    padding: 0;

}
p {
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-size: 30px;
    color:green;
    text-align: center;
}

li.navbar {                   /*this is for the listing in the navigation
                              bar*/
    color: black;
    font-size: 35px;
    display: inline-block;
    margin-right: 20px;
}

li.symptomscol{     /*this is for the listing in the symptoms page*/
  color: black;
  font-size: 35px;
  text-align: left;
  margin-left:100px;

}

li.emergency{ /*for the sign to rush to hospital*/
  color: black;
  font-size: 20px;
  text-align: left;
  margin-left:100px;
}

a{
    text-size:40px;
    text-align: center;
    text-decoration:none;
    color: white;

}
a:link{

  text-size:40px;
  text-align:center;

}
a:hover{
  text-decoration:underline;
  background-color:SkyBlue;
}

footer {
    line-height: 2;
    margin-bottom: 10px;
    text-align: center;
    background: black;
    color: white;

    width: 100%;
    height: 60px;
    padding: auto;
}
h1.historyHead{
  margin:30px;
  padding:40px;
  text-align:Left;
  font-size: 80px;
  font-family: Apple Chancery, cursive, 'Times New Roman', Times, serif;
  color:CornflowerBlue
;

}

h1.historyHead1{
  text-align:left;
  margin:30px;
  padding:15px;
}

h1.homePageCovid{
   font-family: Verdana, sans-serif;
   margin-left:20px;
}

p.historyHeadp{
  text-align:left;
  margin:10px;
  font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, serif;
  font-size:35px;
}

.lastImage{
  display:inline-block;
  background-color:PowderBlue;
  border: 5px solid PowderBlue;
  border-radius:30px;
  padding: 10px;
  margin:15px;
  font-size: 22px;
}
.lastImage2{
	
  display:inline-block;
  background-color:PowderBlue;
  border: 5px solid PowderBlue;
  border-radius:100px;
  padding: 10px;
  margin:15px;
  font-size: 22px;
}
h1 {
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    color: CornflowerBlue;
    font-size: 50px;
    text-align: center;
}

h2 {
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    color: green;
    font-size: 50px;
    text-align: center;
}
ul.symptoms {
list-style-type:square;
margin: 0;
padding: 0;
overflow: hidden;

}



<!-- HTML !-->
<button class="button-3" role="button">Button 3</button>

/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
.clearfix{
	clear: both;
	height: 3px;
}
.sidebar{
	
	width: 26%;
	float: left;
	margin: 4%;
}
section.sb{
		
		width: 96%;
		margin: 0 0 3% 0;
		padding: 0 3%;
}
ul.n {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.n1 {
  float: left;
  border-right:1px solid #bbb;
}


li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
p.cf{
 
  font-family:serif;
  
}


